{#
/**
 * @file stoplight-elements-ui-field-item.html.twig
 * Default theme implementation for Swagger UI field items.
 *
 * Available variables:
 * - field_name: The name of the field.
 * - delta: The delta of the field item.
 *
 * @ingroup themeable
 */
#}
<div id="stoplight-elements-ui-{{ field_name }}-{{ delta }}">
   <elements-api
      apiDescriptionUrl="{{ file_url }}"
      router="hash"
      layout="sidebar"
      hideTryIt=""
    />
</div>
